In [1]:
import pandas as pd

data = pd.read_csv('./data/train.csv')

data.head()
# Pclass, Sex, Age, SibSp, Parch, Fare

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
import numpy as np

interested_columns = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']

data = data[interested_columns]
data.dropna(inplace=True)

data['Sex'] = data['Sex'] == 'male'
data['Sex'] = np.array(data['Sex'], dtype=np.int32)

data.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Survived
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,2.236695,0.634454,29.699118,0.512605,0.431373,34.694514,0.406162
std,0.838250,0.481921,14.526497,0.929783,0.853289,52.918930,0.491460
min,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,20.125000,0.000000,0.000000,8.050000,0.000000
50%,2.000000,1.000000,28.000000,0.000000,0.000000,15.741700,0.000000
75%,3.000000,1.000000,38.000000,1.000000,1.000000,33.375000,1.000000
max,3.000000,1.000000,80.000000,5.000000,6.000000,512.329200,1.000000

In [3]:
# normalize data to be between 0 and 1

for col in interested_columns:
    data[col] = (data[col] - data[col].min()) / (data[col].max() - data[col].min())

In [4]:
data.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Survived
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,0.618347,0.634454,0.367921,0.102521,0.071895,0.067719,0.406162
std,0.419125,0.481921,0.182540,0.185957,0.142215,0.103291,0.491460
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.247612,0.000000,0.000000,0.015713,0.000000
50%,0.500000,1.000000,0.346569,0.000000,0.000000,0.030726,0.000000
75%,1.000000,1.000000,0.472229,0.200000,0.166667,0.065144,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
data = np.array(data)

X, y = data[:,:-1], data[:,-1]

# add a column of ones to x
X = np.concatenate((np.ones((X.shape[0], 1)), X), axis=1)

print(X.shape, y.shape)

(714, 7) (714,)

### Loss function

In [6]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

class LossFunction:

    def __init__(self, X, y):
        self.X = X
        self.y = y
    
    def loss(self, a : np.ndarray):
        prob = sigmoid(np.dot(self.X, a))
        values = - self.y * np.log(prob) - (1 - self.y) * np.log(1 - prob)
        return np.nansum(values)

    def gradient(self, a : np.ndarray):
        prob = sigmoid(np.dot(self.X, a))
        sub_coefficient = -(self.y - prob) 
        return np.dot(self.X.T, sub_coefficient)
    
    def precision(self, a : np.ndarray):
        prob = sigmoid(np.dot(self.X, a))
        prob = np.array(prob >= 0.5, dtype=np.int32)
        return np.sum(prob == self.y) / self.y.shape[0]

loss_func = LossFunction(X, y)

In [7]:
def gradient_descent(loss_func, starting_point, learning_rate = 0.001, num_steps = 100, precision=0.00001):
    cur_point = starting_point
    for i in range(num_steps):
        grad = loss_func.gradient(cur_point)
        print("Iteration {}: loss = {}, precision = {}".format(i, loss_func.loss(cur_point), loss_func.precision(cur_point)))
        cur_point = cur_point - learning_rate * grad
        if np.linalg.norm(grad) < precision:
            break
    return cur_point

optimal = gradient_descent(loss_func, np.zeros(X.shape[1]))

Iteration 0: loss = 494.9070869198009, precision = 0.4061624649859944
Iteration 1: loss = 467.6783802061075, precision = 0.5938375350140056
Iteration 2: loss = 453.6741382771319, precision = 0.5938375350140056
Iteration 3: loss = 445.1058564352742, precision = 0.5938375350140056
Iteration 4: loss = 438.90394764942016, precision = 0.5938375350140056
Iteration 5: loss = 433.83170212259313, precision = 0.5938375350140056
Iteration 6: loss = 429.3701530356671, precision = 0.5938375350140056
Iteration 7: loss = 425.2914007329867, precision = 0.6050420168067226
Iteration 8: loss = 421.48983233889584, precision = 0.7016806722689075
Iteration 9: loss = 417.912796770911, precision = 0.7044817927170869
Iteration 10: loss = 414.5312058332657, precision = 0.7044817927170869
Iteration 11: loss = 411.32675329111805, precision = 0.7044817927170869
Iteration 12: loss = 408.2862526917245, precision = 0.7044817927170869
Iteration 13: loss = 405.39909167748783, precision = 0.7044817927170869
Iteration 14: loss = 402.6560724694098, precision = 0.7450980392156863
Iteration 15: loss = 400.04887583488664, precision = 0.7913165266106442
Iteration 16: loss = 397.56980758776996, precision = 0.7913165266106442
Iteration 17: loss = 395.21167367967615, precision = 0.7913165266106442
Iteration 18: loss = 392.96771393003104, precision = 0.7913165266106442
Iteration 19: loss = 390.83156250865255, precision = 0.7913165266106442
Iteration 20: loss = 388.7972206445916, precision = 0.7913165266106442
Iteration 21: loss = 386.859034979271, precision = 0.7913165266106442
Iteration 22: loss = 385.011678619201, precision = 0.7899159663865546
Iteration 23: loss = 383.25013360307037, precision = 0.7899159663865546
Iteration 24: loss = 381.56967424797466, precision = 0.7871148459383753
Iteration 25: loss = 379.9658511717421, precision = 0.7829131652661064
Iteration 26: loss = 378.4344759296064, precision = 0.7829131652661064
Iteration 27: loss = 376.9716062585885, precision = 0.7829131652661064
Iteration 28: loss = 375.5735319400767, precision = 0.7815126050420168
Iteration 29: loss = 374.2367612922799, precision = 0.7773109243697479
Iteration 30: loss = 372.95800829943335, precision = 0.7759103641456583
Iteration 31: loss = 371.73418037821057, precision = 0.7703081232492998
Iteration 32: loss = 370.56236677557973, precision = 0.7675070028011205
Iteration 33: loss = 369.4398275869949, precision = 0.7787114845938375
Iteration 34: loss = 368.3639833795031, precision = 0.7801120448179272
Iteration 35: loss = 367.33240540103793, precision = 0.7801120448179272
Iteration 36: loss = 366.34280635473766, precision = 0.7801120448179272
Iteration 37: loss = 365.3930317154405, precision = 0.7801120448179272
Iteration 38: loss = 364.4810515644325, precision = 0.7801120448179272
Iteration 39: loss = 363.60495291795473, precision = 0.7801120448179272
Iteration 40: loss = 362.7629325247991, precision = 0.7801120448179272
Iteration 41: loss = 361.9532901084664, precision = 0.7801120448179272
Iteration 42: loss = 361.17442202974985, precision = 0.7801120448179272
Iteration 43: loss = 360.4248153461874, precision = 0.7801120448179272
Iteration 44: loss = 359.70304224554565, precision = 0.7801120448179272
Iteration 45: loss = 359.00775483132145, precision = 0.7801120448179272
Iteration 46: loss = 358.3376802391456, precision = 0.7801120448179272
Iteration 47: loss = 357.69161606390674, precision = 0.7801120448179272
Iteration 48: loss = 357.0684260783852, precision = 0.7801120448179272
Iteration 49: loss = 356.4670362251521, precision = 0.7801120448179272
Iteration 50: loss = 355.88643086446314, precision = 0.7801120448179272
Iteration 51: loss = 355.32564926182323, precision = 0.7801120448179272
Iteration 52: loss = 354.78378229983366, precision = 0.7801120448179272
Iteration 53: loss = 354.25996939982866, precision = 0.7801120448179272
Iteration 54: loss = 353.75339563968106, precision = 0.7801120448179272
Iteration 55: loss = 353.26328905498724, precision = 0.7801120448179272
Iteration 56: loss = 352.78891811163714, precision = 0.7801120448179272
Iteration 57: loss = 352.32958933852956, precision = 0.7801120448179272
Iteration 58: loss = 351.8846451099148, precision = 0.7801120448179272
Iteration 59: loss = 351.45346156752055, precision = 0.7801120448179272
Iteration 60: loss = 351.03544667326037, precision = 0.7801120448179272
Iteration 61: loss = 350.63003838392854, precision = 0.7801120448179272
Iteration 62: loss = 350.23670293985015, precision = 0.7801120448179272
Iteration 63: loss = 349.8549332599906, precision = 0.7801120448179272
Iteration 64: loss = 349.4842474365283, precision = 0.7801120448179272
Iteration 65: loss = 349.1241873223607, precision = 0.7801120448179272
Iteration 66: loss = 348.77431720545593, precision = 0.7801120448179272
Iteration 67: loss = 348.43422256436793, precision = 0.7801120448179272
Iteration 68: loss = 348.1035088996189, precision = 0.7801120448179272
Iteration 69: loss = 347.78180063600826, precision = 0.7801120448179272
Iteration 70: loss = 347.46874009124315, precision = 0.7801120448179272
Iteration 71: loss = 347.16398650659346, precision = 0.7801120448179272
Iteration 72: loss = 346.867215135568, precision = 0.7801120448179272
Iteration 73: loss = 346.5781163868763, precision = 0.7801120448179272
Iteration 74: loss = 346.29639501819196, precision = 0.7801120448179272
Iteration 75: loss = 346.0217693774721, precision = 0.7801120448179272
Iteration 76: loss = 345.7539706887999, precision = 0.7801120448179272
Iteration 77: loss = 345.4927423799261, precision = 0.7801120448179272
Iteration 78: loss = 345.23783944887174, precision = 0.7801120448179272
Iteration 79: loss = 344.9890278671312, precision = 0.7801120448179272
Iteration 80: loss = 344.7460840171806, precision = 0.7801120448179272
Iteration 81: loss = 344.50879416214644, precision = 0.7801120448179272
Iteration 82: loss = 344.27695394563466, precision = 0.7801120448179272
Iteration 83: loss = 344.0503679198508, precision = 0.7801120448179272
Iteration 84: loss = 343.8288491002659, precision = 0.7801120448179272
Iteration 85: loss = 343.61221854519795, precision = 0.7801120448179272
Iteration 86: loss = 343.40030495878597, precision = 0.7801120448179272
Iteration 87: loss = 343.19294431593136, precision = 0.7801120448179272
Iteration 88: loss = 342.9899795078773, precision = 0.7801120448179272
Iteration 89: loss = 342.7912600071799, precision = 0.7801120448179272
Iteration 90: loss = 342.5966415509081, precision = 0.7801120448179272
Iteration 91: loss = 342.4059858409832, precision = 0.7801120448179272
Iteration 92: loss = 342.2191602606381, precision = 0.7801120448179272
Iteration 93: loss = 342.03603760604335, precision = 0.7801120448179272
Iteration 94: loss = 341.85649583220663, precision = 0.7801120448179272
Iteration 95: loss = 341.6804178123082, precision = 0.7801120448179272
Iteration 96: loss = 341.5076911096913, precision = 0.7801120448179272
Iteration 97: loss = 341.33820776177055, precision = 0.7801120448179272
Iteration 98: loss = 341.17186407517204, precision = 0.7801120448179272
Iteration 99: loss = 341.0085604314594, precision = 0.7815126050420168